
.list-group-item.active {
  background-color: #808080;
  border-color: #808080;
}
item.active, .list-group-item.active:hover {
  background-color: #808080;
  border-color: #808080;
}
body {
  font-size: 17px;
}
td {
  font-size: 17px;
}
pre {
  font-size: 17px;
}
.r{
  font-size: 12px;
}
.title {
  font-size: 38px;
  color: black;
}
h1 { /* Header 1 */
  font-size: 36px;
}
h2 { /* Header 2 */
    font-size: 36px;
}
h3 { /* Header 3 */
  font-size: 36px;
}
h4 { /* Header 3 */
  font-size: 23px;
}
h5 { /* Header 3 */
  font-size: 17px;
}
h6 { /* Header 3 */
  font-size: 5px;
}


/* START OF Change the Navbar Colors/Font/Size */
/* Adjust Menu (red) text color, (Garamond) font-family, (1.5em) font-size  */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
font-size:      15px;
padding:        20px 10px;
}
