
.list-group-item.active {
  background-color: #808080;
  border-color: #808080;
}
item.active, .list-group-item.active:hover {
  background-color: #808080;
  border-color: #808080;
}
body, td {
  font-size: 18px;
}
pre {
  font-size: 18px;
}
.r{
  font-size: 18px;
}
.title {
  font-size: 38px;
}
h1 { /* Header 1 */
  font-size: 33px;
}
h2 { /* Header 2 */
    font-size: 36px;
}
h3 { /* Header 3 */
  font-size: 25px;
}
h4 { /* Header 3 */
  font-size: 23px;
}
h5 { /* Header 3 */
  font-size: 18px;
}
